.item {
    border-top: 1px solid #e9ebf0;
}

.item a {
    color: #2a5885;
}

h3 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.item .info {
    width: 90%;
    margin: 0 auto;
    column-gap: 30px;
    display: flex;
    justify-content: space-between;
}
